{% set SITE_ROOT = '../' %}
{% extends 'base.html' %}
{% block title %} {{article.title }} | {{ super() }} {% endblock title %}
{% block main %}
<section class="blog-heading">
  <div class="container">
    <h1 class="white-text-color margin-0">{% trans %}Blog{% endtrans %}</h1>
    <ol class="breadcrumb remove_background padding-0 margin-0">
      <li><a class="white-text-color" href="/">{% trans %}Home{% endtrans %}</a></li>
      <li class="white-text-color"><a class="white-text-color" href="blogs.html">{% trans %}Blog{% endtrans %}</a></li>
      <li class="white-text-color">{{ article.title }}</li>
    </ol>
  </div>
</section>
<section>
  <div class="container">
    <div class="mar_top7"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 padding-0">
      <div class="col-xs-12 col-sm-12 col-md-11 padding-0">
        <div class="img-frame">
          <img class="img-responsive" src="{{ SITE_ROOT }}{{ article.bannerimage }}">
        </div>
        <div class="mar_top3">
          <table class="blog-date pull-left" border="0" cellpadding="0" cellspacing="0" width="60">
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="blog-month">
                      {{ article.date|strftime('%B') }}
                    </td>
                  </tr>
                  <tr>
                    <td class="blog-time">
                     {{ article.date|strftime('%d') }}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <h3 class="margin-0">{{article.title}}</h3>
          <ul class="mar_bottom3">
            <li class="pull-left list-unstyled post-by">{{article.author }}</li>
            <li class="list-unstyled post-event pull-left">{{ article.category }}</li>
          </ul>
        </div>
        <div class="post_info_content">
          {{ article.content }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mar_top7"></div>
</section>
{% endblock main %}

