<!DOCTYPE html>
{% set STATIC = '/theme/' %}
<html lang="en-us">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Tryton - World's Most Stable OpenSource ERP System{% endblock title %}</title>

  <!-- Package CSS -->  
  <link href="{{ STATIC }}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ STATIC }}bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ STATIC }}bower_components/nanoscroller/bin/css/nanoscroller.css">
  <!-- Custom CSS -->
  <link href="{{ STATIC }}css/style.css" rel="stylesheet">
  <link href="{{ STATIC }}css/responsive-layouts.css" rel="stylesheet">
</head>
<body>
  <!-- main navigation -->
  {% block nav_bar %}
  <div class="navbar navbar-default navbar-fixed-top nav-resize" role="navigation">
    <div class="padding-auto-0 container-fluid">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbarHeaderReset">
          <button type="button" class="navbar-toggle collapsed nav-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo margin-left-0" href="/"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="main-menu"><a href="foundation.html">Foundation</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Features<span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-position" role="menu">
                <li><a href="features.html" class="text-uppercase">Features</a></li>
                <li><a href="features.html#fast" class="text-uppercase scroll">Fast</a></li>
                <li><a href="features.html#opensource" class="text-uppercase scroll">OpenSource</a></li>
                <li><a href="features.html#api" class="text-uppercase scroll">API</a></li>
                <li><a href="features.html#custom" class="text-uppercase scroll">Customizable</a></li>
                <li><a href="features.html#scale" class="text-uppercase scroll">Scalable</a></li>
                <li><a href="features.html#secure" class="text-uppercase scroll">Secure</a></li>
                <li><a href="features.html#modular" class="text-uppercase scroll">Modular</a></li>
                <li><a href="features.html#stable" class="text-uppercase scroll">Stable</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="app.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Apps<span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-position" role="menu">
                <li><a href="app.html" class="text-uppercase">Apps</a>
                </li>
                <li><a href="ecommerce.html" class="text-uppercase">ECommerce</a>
                </li>
                <li><a href="accounts.html" class="text-uppercase">Accounts</a>
                </li>
                <li><a href="inventory.html" class="text-uppercase">Inventory</a>
                </li>
                <li><a href="crm.html" class="text-uppercase">CRM</a>
                </li>
                <li><a href="purchase.html" class="text-uppercase">Purchase</a>
                </li>
                <li><a href="orders.html" class="text-uppercase">Orders</a>
                </li>
                <li><a href="projects.html" class="text-uppercase">Projects</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="community.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Community<span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-position" role="menu">
                <li><a href="community.html" class="text-uppercase">Community</a>
                </li>
                <li><a href="community.html#Mailing lists, IRC" class="text-uppercase">Mailing lists, IRC</a>
                </li>
              </ul>
            </li>
            <li class="main-menu"><a href="blogs.html">Blog</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </div>
  {% endblock %}

  <!-- main content -->
  {% block main %}{% endblock main %}

  <!-- footer -->
  {% block footer %}
  {% block request_demo %}
  <section class="know-more pull-left pad-all20">
    <div class="container">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <h3 class="white-text-color text-center">{% trans %}Want To Know More About {% endtrans %}<strong>TRYTON</strong></h3>
        <h4 class="text-center-xs white-text-color text-center">{% trans %}Let us demonstrate how it can meet your business requirements.{% endtrans %}</h4>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 text-center">
        <div class="line_img pull-left hidden-sm hidden-xs"></div>
        <button type="button" class="btn btn-lg btn-default mar_bottom3"><i class="fa fa-comments fa-lg"></i>&nbsp; &nbsp;{% trans %} REQUEST A DEMO{% endtrans %}</button>
      </div>
    </div>
  </section>
  {% endblock request_demo %}
  <div class="footer pull-left">
    <div class="mar_top7 clearfix"></div>
    <div class="container">
      <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs footer-set-height">
        <img src="{{ STATIC }}images/footer-logo.png" alt="trytonLogo" />
        <ul class="contact_address pull-left list-unstyled">
          <li>Tryton.us{% trans %} is an initiative of Openlabs Technologies to aware people about Tryton ERP and its implementation.{% endtrans %}<br><br>{% trans %}It is a private initiative not intended to replace, or communicate on behalf of the whole Tryton community.{% endtrans %} 
          </li>
          <li>{% trans %}Tryton is a registered trademark of the Tryton Foundation.{% endtrans %}</li>
          <li><img src="{{ STATIC }}images/footer-wmap.png" alt=""></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 col-md-offset-0 col-sm-offset-2 col-xs-4 col-xs-offset-4 footer-set-height">
        <h3 class="footer_headings">Useful Links</h3>
        <ul class="link_list list-unstyled">
          <li><a href="/"><i class="fa fa-angle-right"></i> Home</a></li>
          <li><a href="events.html"><i class="fa fa-angle-right"></i> Features</a></li>
          <li><a href="community.html"><i class="fa fa-angle-right"></i> Apps</a></li>
          <li><a href="foundation.html"><i class="fa fa-angle-right"></i> Foundation</a></li>
          <li><a href="download.html"><i class="fa fa-angle-right"></i> Blog</a></li>
          <li><a href="documentation.html"><i class="fa fa-angle-right"></i> Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs footer-set-height">
       <h3 class="footer_headings">Latest Tweets</h3>
       <div class="twitter_feed">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/tryton" data-widget-id="499079587393839106">#tryton Tweets</a>
        <script>
        ! function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
          p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, "script", "twitter-wjs");
        </script>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-sm-offset-2 col-xs-12 col-md-offset-0 text-center-xs footer-set-height">
      <h3 class="footer_headings">Join Community</h3>
      <ul class="list-unstyled">
        <li>
          <a href="https://groups.google.com/forum/#!forum/tryton" class="white-text-color"><i class="fa fa-google-plus"></i>&nbsp;&nbsp;GOOGLE GROUP</a>
        </li>
        <li>
          <a href="https://github.com/tryton/tryton" class="white-text-color"><i class="fa fa-github"></i>&nbsp;&nbsp;GET THE CODE</a>
        </li>
      </ul>
      <br>
      <br>
      <p class="white-text-color">Tryton Fondation Privée <br>
        Rue de Rotterdam, 4 <br>
        4000 Liège <br>
        Belgium <br><br>
        <a href="mailto:foundation@tryton.org" target="_blank" class="white-text-color"><i class="fa fa-envelope"></i>&nbsp;&nbsp;foundation@tryton.org</a></p>
      </div>
      <div class="clearfix mar_top6"></div>
    </div>
    <div class="copyright_info">
      <div class="clearfix mar_top6"></div>
      <div class="container">
        <div class="col-md-12 text-center">
          <p class="white-text-color">Made with <i class="fa fa-heart text-red"></i> by <strong><a href="https://www.openlabs.co.in" class="white-text-color">Team OPENLABS</a></strong></p>
        </div>
        <div class="clearfix mar_top3 clearfix pull-left"></div>
      </div>
    </div>
    <div class="content_licensed col-md-12 col-sm-12 col-xs-12">
     <div class="container">
      <b>Content Licensed as Creative Commons</b>
    </div>
  </div>
</div>

{% endblock footer %}

{% block script_imports %}
  <script src="{{ STATIC }}bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{ STATIC }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="{{ STATIC }}bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>
{% endblock script_imports %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $(".nano").nanoScroller();
    $(".scroll").click(function(){
      $("html,body").animate({scrollTop:$(this.hash).offset().top-105},2000);
    });
  });
</script>
{% endblock scripts %}
</body>
</html>
