{% extends 'base.html' %}
{% block main %}
<section class="blog-heading">
  <div class="container">
    <h1 class="white-text-color margin-0">{% trans %}Blog{% endtrans %}</h1>
    <ol class="breadcrumb remove_background padding-0 margin-0">
      <li><a class="white-text-color" href="/">{% trans %}Home{% endtrans %}</a></li>
      <li class="white-text-color">{% trans %}Blog{% endtrans %}</li>
    </ol>
  </div>
</section>
<section>
  <div class="container">
    <div class="mar_top7"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 padding-0">
      {% for article in articles_page.object_list %}
      <div class="col-xs-12 col-sm-6 col-md-6 padding-0 img-frame">
        <a href="{{ SITEURL }}/{{ article.url }}"> <img class="img-responsive" src="{{ article.bannerimage }}" alt="{{ article.title }}">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 mar_top3-xs">
        <div>
          <table class="blog-date pull-left" border="0" cellpadding="0" cellspacing="0" width="60">
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="blog-month">
                      {{ article.date|strftime('%B') }}
                    </td>
                  </tr>
                  <tr>
                    <td class="blog-time">
                     {{ article.date|strftime('%d') }}
                   </td>
                 </tr>
               </table>
             </td>
           </tr>
         </table>
         <h3 class="margin-0"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
         <ul class="mar_bottom3">
          <li class="pull-left list-unstyled post-by">{{article.author}}</li>
          <li class="list-unstyled post-event pull-left">
            <a class="post-category" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
      {{ article.summary }}
    </div>
    <div class="clearfix"></div>
    {% endfor %}
  </div>
</div>
<div class="mar_top7"></div>
</section>
{% endblock main %}
