{% extends 'base.html' %}

{% block main %}
<section class="app-banner">
  <div class="container">
    <ol class="breadcrumb remove-background">
      <li><a class="white-text-color" href="{{ SITE_ROOT }}index.html">{% trans %} Home {% endtrans %}</a></li>
      <li class="white-text-color">{% trans %} Community {% endtrans %}</li>
    </ol>
    <div class="text-center section-space">
        <h1 class="white-text-color"><strong>{% trans %}An active open source community{% endtrans %}</strong></h1>
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-2 col-xs-4 col-xs-offset-4 col-sm-offset-5 app-banner-divider">
        </div>
      </div>
      <div>
        <p class="white-text-color">{% trans %}Tryton project is a global collaboration of developers and technology enthusiasts developing the open source business management software for small and medium-sized enterprises.{% endtrans %}</p>
      </div>
    </div>
  </div>
</section>
<div class="clearfix" id="Mailing lists, IRC"></div>
<div class="container">
  <section class="section-space">
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2><strong>{% trans %}Mailing Lists{% endtrans %}</strong></h2>
          <ul>
            <li><a href="http://groups.tryton.org/">English</a></li>
            <li><a href="http://groups-ca.tryton.org/">Català</a></li>
            <li><a href="http://groups-de.tryton.org/">Deutsch</a></li>
            <li><a href="http://groups-es.tryton.org/">Español</a></li>
            <li><a href="http://groups-fr.tryton.org/">Français</a></li>
            <li><a href="http://groups-ru.tryton.org/">РУССКИЙ</a></li>
            <br>
            <li><a href="http://groups-dev.tryton.org/">Developers</a></li>
            <li><a href="http://groups-announce.tryton.org/">Announce</a></li>
            <li><a href="http://groups-commit.tryton.org/">Commit</a></li>
            <li><a href="http://groups-contrib.tryton.org/">Contrib</a></li>
          </ul>
          <p>{% trans %}Be considerate of other subscribers on the mailing lists,{% endtrans %} <a href="http://groups.tryton.org/netiquette">{% trans %}follow the netiquette{% endtrans %}</a>.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2><strong>{% trans %}Internet Relay Chat{% endtrans %}</strong></h2>
          <p>{% trans %}There are several channels on the{% endtrans %} <a href="http://www.freenode.net/">Freenode IRC</a>.</p>
          <ul>
            <li>English: <a href="irc://irc.freenode.net/tryton">#tryton</a> (<a href="http://www.tryton.org/~irclog/">{% trans %}Archives{% endtrans %}</a>)</li>
            <li>Deutsch: <a href="irc://irc.freenode.net/tryton.de">#tryton.de</a> (<a href="http://www.tryton.org/~irclog/de/">{% trans %}Archives{% endtrans %}</a>)</li>
            <li>Español: <a href="irc://irc.freenode.net/tryton-es">#tryton-es</a> (<a href="http://www.tryton.org/~irclog/es/">{% trans %}Archives{% endtrans %}</a>)</li>
            <li>Français: <a href="irc://irc.freenode.net/tryton-fr">#tryton-fr</a> (<a href="http://www.tryton.org/~irclog/fr/">{% trans %}Archives{% endtrans %}</a>)</li>
            <li>РУССКИЙ: <a href="irc://irc.freenode.net/tryton-ru">#tryton-ru</a> (<a href="http://www.tryton.org/~irclog/ru/">{% trans %}Archives{% endtrans %}</a>)</li>
            <br>
            <li>Commits: <a href="irc://irc.freenode.net/tryton-commit">#tryton-commit</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
</div>
{% endblock main %}
