{% extends 'base.html' %}
{% block title %} {% trans %} ECommerce {% endtrans %} | {{ super() }} {% endblock title %}
{% block main %}
<section class="app-banner">
  <div class="container">
    <ol class="breadcrumb remove_background">
      <li><a class="white-text-color" href="/"> {% trans %}Home {% endtrans %}</a></li>
      <li> <a class="white-text-color" href="app.html"> {% trans %}App {% endtrans %}</a></li>
      <li class="white-text-color"> {% trans %}eCommerce {% endtrans %}</li>
    </ol>
    <div class="mar-top-150"></div>
    <div class="text-center">
      <h1 class="white-text-color"><strong> {% trans %}E-COMMERCE {% endtrans %}</strong>
      </h1>
      <div class="col-sm-12 col-xs-12" >
        <div class="col-sm-2 col-xs-4 col-xs-offset-4 col-sm-offset-5 app-banner-divider">
        </div>
      </div>
      <div>
        <p class="white-text-color"> {% trans %}Tryton ecommerce app easily adapts and scales to the unique selling and buying scenarios of your specific industry needs. It deliver consistent and engaging shopping experiences on any device or anywhere your customers shop. {% endtrans %}
        </p>
      </div>
    </div>
  </div>
</section>
<div class="mar_top5 clearfix"></div>
<div class="container">
  <section>
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12 mar_top5">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center">
          <img src="{{ STATIC }}images/app/ecommerce/ecommerce-01.png" height="200" alt="ecommerce" class="content-center-xs">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2> {% trans %}Easy Checkout Process {% endtrans %}</h2>
          <p>{% trans %}It’s vital to have a website that’s easy to get around. But it’s just as important that your online checkout process keeps potential customers delighted too. With the ecommerce app you can make the checkout process for the customers extremely simple to use, so that a customer never drops a product from the shopping cart just because of cumbersome payment options.{% endtrans %}
          </p>
        </div>
      </div>
    </div>
    <div class="mar_top3 clearfix"></div>
  </section>
  <div class="divider-line clearfix"></div>
  <section>
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-push-6 text-center">
          <img src="{{ STATIC }}images/app/ecommerce/ecommerce-02.png" height="200" alt="ecommerce" class="content-center-xs">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6">
          <h2> {% trans %}Integrated Inventory Management {% endtrans %}</h2>
          <p> {% trans %}Integrated inventory management lets you know what is on hand, where it is in use, and how much finished product results. It helps you oversee multiple locations, track shipments, automatically reorder products, print and scan barcodes, and much more. {% endtrans %}
          </p>
        </div>
      </div>
    </div>
    <div class="mar_top3 clearfix"></div>
  </section>
  <div class="divider-line clearfix"></div>
  <section>
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center">
          <img src="{{ STATIC }}images/app/ecommerce/ecommerce-03.png" height="200" alt="fast" class=" content-center-xs">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2> {% trans %}Shipping and Payment integration {% endtrans %}</h2>
          <p> {% trans %}No more errors in manual billing and expensive return shipments with the the built in integration with payment gateways like beanstream, authorise.net, etc. You also have an option to integrate your webstore with major shipping services like Fedex and UPS, so that all your work gets automated. {% endtrans %}</p>
        </div>
      </div>
    </div>
    <div class="mar_top3 clearfix"></div>
  </section>
  <div class="divider-line clearfix"></div>
  <section>
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-push-6 text-center">
          <img src="{{ STATIC }}images/app/ecommerce/ecommerce-04.png" height="200" alt="custom" class="content-center-xs">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6">
          <h2> {% trans %}Google Analytics integration {% endtrans %}</h2>
          <p> {% trans %}Get clear visibility of your sales funnel. The eCommerce app helps you track the conversation and whatever is happening on your sites - shopping carts, call-to-actions, etc. A complete view of the visitors and website traffic will help you strategize things and get the conversions happening. {% endtrans %}</p>
        </div>
      </div>
    </div>
    <div class="mar_top3 clearfix"></div>
  </section>
  <div class="divider-line clearfix"></div>
  <section>
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center">
          <img src="{{ STATIC }}images/app/ecommerce/ecommerce-05.png" height="200" alt="open-source" class="content-center-xs">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2> {% trans %}Product catalog management {% endtrans %}</h2>
          <p> {% trans %}With Catalog Management you can easily transform complicated data into attractive content to increase visibility and the efficiency of procurement operations. Get complete control over how your product should be displayed and the relevant call to action buttons. {% endtrans %}
          </p>
        </div>
      </div>
    </div>
    <div class="mar_top3 clearfix"></div>
  </section>
  <div class="divider-line clearfix"></div>
  <section>
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-push-6 text-center">
          <img src="{{ STATIC }}images/app/ecommerce/ecommerce-06.png" height="200" alt="custom" class="content-center-xs">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6">
          <h2> {% trans %}Setup affiliate stores with ease {% endtrans %}</h2>
          <p> {% trans %}With Tryton eCommerce app , you can easily create co branded affiliate stores with an ability to handle different discount levels and commissions offered by different distributors. {% endtrans %}</p>
        </div>
      </div>
    </div>
    <div class="mar_top3 clearfix"></div>
  </section>
  <div class="mar_top5 clearfix"></div>
</div>
{% endblock main %}
