{% extends 'base.html' %}

{% block title %} Home | {{ super() }} {% endblock title %}

{% block main %}
<div class="slider-section-img ">
  <div id="carousel-banner" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-banner" data-slide-to="1"></li>
      <li data-target="#carousel-banner" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="tryton-conf-banner banner"></div>
        <div class="carousel-caption">
          <h1>TRYTON UNCONFERENCE 2014 </h1>
          <p>Leipzig, Germany. 14th - 16th November</p>
          <a class="btn btn-lg btn-primary" href="http://lanyrd.com/2014/tryton-unconference-leipzig/" target="_blank" role="button">{% trans %}See Complete Schedule{% endtrans %}</a>
        </div>
      </div>
      <div class="item">
        <div class="business-banner banner"></div>
        <div class="carousel-caption">
          <h1>{% trans %}SECURE. STABLE. SCALABLE.{% endtrans %}</h1>
          <p>{% trans %}Give your business a sturdy backbone with Tryton.{% endtrans %}</p>
          <a class="btn btn-lg btn-primary" href="contact.html" role="button">{% trans %}Request a Demo{% endtrans %}</a>
        </div>
      </div>
      <div class="item">
        <div class="all-in-one-banner banner"></div>
        <div class="carousel-caption">
          <h1>{% trans %}ALL IN ONE{% endtrans %}</h1>
          <p>{% trans %}Tryton comes with a variety of modules.{% endtrans %}</p>
          <a class="btn btn-lg btn-primary" href="contact.html" role="button">{% trans %}Request a Demo{% endtrans %}</a>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-banner" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-banner" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="clearfix"></div>
<div class="mar_top7 clearfix"></div>
<section class="characteristics">
  <div class="container">
    <h1 class="text-center"><small>{% trans %}World's Most Stable{% endtrans %}</small><br>
      <strong>{% trans %}OPEN SOURCE ERP SOLUTION{% endtrans %}</strong></h1>
      <div class="mar_top7"></div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="rounded-icon pull-left content-center-xs">
          <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>
        </div>
        <h2 class="text-center-xs characteristics_heading">{% trans %}Open Source{% endtrans %}</h2>
        <p>{% trans %}Tryton abides by the GPL license, which ensures that the modifications made are available to every member of the open source community. Being developed by a non-profit foundation which supports complete transparency.{% endtrans %}</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="rounded-icon pull-left content-center-xs">
          <i class="fa fa-terminal fa-2x"></i>
        </div>
        <h2 class="text-center-xs characteristics_heading">{% trans %}MATURE AND QUALITY CODE {% endtrans %}</h2>
        <p>{% trans %}The code building of Tryton applications is unique in its own way. The code is posted on the open source community to be reviewed by every member, which leaves no stone unturned in its development. After a painstakingly accurate review, the code is merged into the mainstream repositories{% endtrans %}</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="rounded-icon pull-left content-center-xs">
          <i class="fa fa-arrow-circle-o-up fa-2x"></i>
        </div>
        <h2 class="text-center-xs characteristics_heading">{% trans %}PREDICTABLE RELEASE CYCLE{% endtrans %} </h2>
        <p>{% trans %}Tryton releases a new series every six months and new versions of older releases are made after the bug fixes (if there are any).{% endtrans %}</p>
      </div>
    </div>
  </section>
  <div class="clearfix mar_top6">
    <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
     <div class="divider-line"></div>
   </div>
 </div>
 <section>
  <div class="container">
    <h3 class="text-center"><strong>{% trans %}SELECT WHO YOU ARE !{% endtrans %}</strong></h3>
    <div class="mar_top5"></div>
    <div role="tabpanel">
      <div class="col-md-8 col-md-offset-2">
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-justified" role="tablist">
          <li role="presentation" class="active"><a href="#developer" aria-controls="developer" role="tab" data-toggle="tab">{% trans %}I’m a Developer{% endtrans %}</a></li>
          <li role="presentation"><a href="#business" aria-controls="business" role="tab" data-toggle="tab">{% trans %}I’m a Business Owner{% endtrans %}</a></li>
          <li role="presentation"><a href="#decision" aria-controls="decision" role="tab" data-toggle="tab">{% trans %}I’m one of the Decision Maker{% endtrans %}</a></li>
        </ul>
      </div>
      <div class="col-md-12 ">
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="developer">
            <div class="mar_top5"></div>
            <h3 class="text-center">{% trans %}Tryton has one of the active Open source communities in the world.{% endtrans %} </h3>
            <div class="mar_top4"></div>
            <p class="text-center">{% trans %}Tryton project is a global collaboration of developers and technology enthusiasts developing the open source business management software for SMB’s.  Backed by a Not for profit Tryton software foundation and vibrant community of developers.{% endtrans %}</p>
            <div class="row mar_top7">
              <div class="col-md-4 text-center pad-all20">
               <img src="{{ STATIC }}images/developer-01.png" height="75" alt="">
               <p class="mar_top2">{% trans %}Tryton is a three-tiers high-level general purpose application platform written in Python and use Postgresql as database engine.{% endtrans %}</p>
             </div>
             <div class="col-md-4 text-center pad-all20 border-left-right">
               <img src="{{ STATIC }}images/developer-02.png" height="75" alt="">
               <p class="mar_top2">{% trans %}Most active open source community, get instant response on mailing list, IRC channels on freenode. {% endtrans %}</p>
             </div>
             <div class="col-md-4 text-center pad-all20">
               <img src="{{ STATIC }}images/developer-03.png" height="75" alt="">
               <p class="mar_top2">{% trans %}Join Tryton Unconference that happens every year in the month of November and explore creativity with like minded people.{% endtrans %}</p>
             </div>
           </div>
         </div>
         <div role="tabpanel" class="tab-pane fade" id="business">
           <div class="mar_top5"></div>
           <h3 class="text-center">{% trans %}Hack your business growth with the most secure and scalable ERP software{% endtrans %}</h3>
           <div class="mar_top4"></div>
           <p class="text-center">{% trans %}Tryton can help you manage every aspect of your company in a better way – from sales, customer relationships, financials and inventory to operations. Available on-premise or on-cloud, and tailored to your business needs– the choice is yours.{% endtrans %}</p>
           <div class="row mar_top7">
            <div class="col-md-4 text-center pad-all20">
             <img src="{{ STATIC }}images/owner-01.png" height="75" alt="">
             <p class="mar_top2">{% trans %}Control your complete business information from the single and stable system.{% endtrans %}</p>
           </div>
           <div class="col-md-4 text-center pad-all20">
            <div class="border-left-right hidden-sm hidden-xs">
            </div>
            <img src="{{ STATIC }}images/owner-02.png" height="75" alt="">
            <p class="mar_top2">{% trans %}Adapt the software to your business needs and get it up and running in just 2-4 weeks*.{% endtrans %}</p>
          </div>
          <div class="col-md-4 text-center pad-all20">
           <img src="{{ STATIC }}images/owner-03.png" height="75" alt="">
           <p class="mar_top2">{% trans %}Supercharge your business processes with a smooth migration from your legacy system.{% endtrans %}</p>
         </div>
       </div>
     </div>
     <div role="tabpanel" class="tab-pane fade" id="decision">
       <div class="mar_top5"></div>
       <h3 class="text-center">{% trans %}Get real time data about your business and make faster yet proficient business decisions{% endtrans %}</h3>
       <div class="mar_top4"></div>
       <p class="text-center">{% trans %}Tryton helps you take better decisions by letting you browse status of variety of business attributes in real time. The salted hash password used in Tryton ensures that your ERP doesn’t talks to non reliable sources.{% endtrans %}</p>
       <div class="row mar_top7">
        <div class="col-md-4 text-center pad-all20">
         <img src="{{ STATIC }}images/decision-01.png" height="75" alt="">
         <p class="mar_top2">{% trans %}Tryton comes onboard with low TCO which lets you try it to its best and you spend money in building new features and not on fixes security issues.{% endtrans %}</p>
       </div>
       <div class="col-md-4 text-center border-left-right pad-all20">
         <img src="{{ STATIC }}images/decision-02.png" height="75" alt="">
         <p class="mar_top2">{% trans %}It covers almost every aspect of a business. It’s an all in one system with ERP, POS and eCommerce capabilities.{% endtrans %}</p>
       </div>
       <div class="col-md-4 text-center pad-all20">
         <img src="{{ STATIC }}images/decision-03.png" height="75" alt="">
         <p class="mar_top2">{% trans %}Gone are the times, when ERP use to take a massive infrastructural budgets. Get started with Tryton with a minimal cost on any cloud infrastructure.{% endtrans %}</p>
       </div>
     </div>
   </div>
 </div>
</div>
</div>
</div>
</section>
<div class="clearfix mar_top7">
  <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
   <div class="divider-line"></div>
 </div>
</div>
<section>
  <div class="container">
    <h1 class="text-center"><small>{% trans %}EVERYTHING YOU NEED FOR{% endtrans %}</small><br>
      <strong>{% trans %}MANAGING YOUR BUSINESS{% endtrans %}</strong></h1>
      <div class="mar_top7"></div>
      <div class="col-md-3 col-sm-6 col-xs-12 app text-center">
        <a href="inventory.html">
          <img src="{{ STATIC }}images/app/apps-inventory.png" class="clearfix mar_bottom3" alt="accounts_app" />
          <div class="info">
            <h4 class="text-center text-uppercase">{% trans %}Inventory Management{% endtrans %}</h4>
            <h5 class="text-center text-muted">{% trans %}Manage and monitor your inventory levels{% endtrans %}</h5>
            <div class="btn btn-default col-md-6 col-md-offset-3 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 hide">{% trans %}View More{% endtrans %}</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 app text-center">
       <a href="orders.html">
        <img src="{{ STATIC }}images/app/apps-orders.png" class=" mar_bottom3" alt="contacts_app" />
        <div class="info">
          <h4 class="text-center text-uppercase">{% trans %}Order Fulfillment{% endtrans %}</h4>
          <h5 class="text-center text-muted">{% trans %}Process you orders faster and efficiently{% endtrans %}</h5>
          <div class="btn btn-default col-md-6 col-md-offset-3 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 hide">{% trans %}View More{% endtrans %}</div>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 app text-center">
      <a href="ecommerce.html">
        <img src="{{ STATIC }}images/apps-ecommerce.png" class=" mar_bottom3" alt="project_app" />
        <div class="info">
          <h4 class="text-center text-uppercase">{% trans %}eCommerce{% endtrans %}</h4>
          <h5 class="text-center text-muted">{% trans %}Design your webstore with ease{% endtrans %}</h5>
          <div class="btn btn-default col-md-6 col-md-offset-3 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 hide">{% trans %}View More{% endtrans %}</div>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 app text-center">
      <a href="accounts.html">
        <img src="{{ STATIC }}images/apps-accounts.png" class=" mar_bottom3" alt="crm_app"/>
        <div class="info">
          <h4 class="text-center text-uppercase">{% trans %}Accounting{% endtrans %}</h4>
          <h5 class="text-center text-muted">{% trans %}Automates complex accounting processes{% endtrans %}</h5>
          <div class="btn btn-default col-md-6 col-md-offset-3 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 hide">{% trans %}View More{% endtrans %}</div>
        </div>
      </a>
    </div>
  </div>
  <div class="container text-center mar_top4 clearfix">
    <a href="app.html" class="btn btn-primary">{% trans %}VIEW ALL APPS {% endtrans %}&nbsp; <i class="fa fa-cube"></i></a>
  </div>
</section>
<div class="mar_top4 clearfix"></div>
<section class="history">
  <div class="container">
    <div class="mar_top6"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="col-md-3 col-sm-6 col-xs-12 text-center">
       <img src="{{ STATIC }}images/history-languages.png" alt="" class="img img-responsive content-center-xs">
       <p class="no-wrap">{% trans %}Languages Supported{% endtrans %}</p>
     </div>
     <div class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-12 text-center">
      <img src="{{ STATIC }}images/history-python.png" alt="" class="img img-responsive content-center-xs">
      <p>{% trans %} Main Language{% endtrans %}</p>
    </div>
    <div class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 col-xs-12 text-center">
      <img src="{{ STATIC }}images/history-contributers.png" alt="" class="img img-responsive content-center-xs">
      <p>{% trans %}Total Contributers{% endtrans %}</p>
    </div>
    <div class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-0 col-xs-12 text-center">
      <img src="{{ STATIC }}images/history-loc.png" alt="" class="img img-responsive content-center-xs">
      <p>{% trans %}Lines of Code{% endtrans %}</p>
    </div>
    <div class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
      <img src="{{ STATIC }}images/history-license.png" alt="" class="img img-responsive content-center-xs">
      <p>{% trans %}License{% endtrans %}</p>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
   <h3>{% trans %}One of the most active Open source communities in the world.{% endtrans %}</h3>
   <div class="mar_top5"></div>
   <p>{% trans %}Tryton project is a global collaboration of developers and technology enthusiasts developing the open source business management software for SMB’s.  Backed by a Not for profit Tryton software foundation and vibrant community of developers.{% endtrans %}</p>
   <div class="mar_top6"></div>
   <a href="https://github.com/tryton/tryton" class="btn btn-default">{% trans %}Get me the Source Code{% endtrans %}</a>
 </div>
</div>
<div class="mar_top6 clearfix"></div>
</section>
<div class="mar_top6 clearfix"></div>
<section class="users">
  <div class="container">
    <h1 class="text-center"><small>{% trans %}COMPANIES THAT CHOOSE TRYTON{% endtrans %}</small><br><strong>{% trans %}TO MANAGE THEIR BUSINESS{% endtrans %}</strong></h1>
    <div class="mar_top5 clearfix"></div>
    <div id="carousel-user" class="carousel slide company-slider" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-2 gna_img_reposition">
            <img src="{{ STATIC }}images/logos/gna.jpg" class="img-responsive" alt="gna" />
          </div>
          <div class="col-md-5 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <h3>GNACODE</h3>
            <p>{% trans %} GNA Code wanted to have an eCommerce system where they could setup co-branded stores for their affiliates easily. It was equally important to offer flexible discounts for different affiliates. In addition, every order had to be fulfilled by the nearest warehouse based on the customer’s location.{% endtrans %}</p>
            <div class="mar_top3"></div>
            <a href="#" class="btn btn-default">{% trans %}READ MORE {% endtrans %} &gt;</a>
          </div>
        </div>
        <div class="item">
          <div class="col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-2 gna_img_reposition">
            <img src="{{ STATIC }}images/logos/bsure.png" class="img-responsive" alt="bsure" />
          </div>
          <div class="col-md-5 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <h3>bSure</h3>
            <p>{% trans %}Nereid based web portal with Tryton implementation removed the security and scalability issues posed by the existing solution. Franchise holders were granted a unified way of placing their orders.{% endtrans %}</p>
            <div class="mar_top3"></div>
            <a href="#" class="btn btn-default">{% trans %}READ MORE {% endtrans %} &gt;</a>
          </div>
        </div>
        <div class="item">
          <div class="col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-2 gna_img_reposition">
            <img src="{{ STATIC }}images/logos/gog.png" class="img-responsive" alt="bsure" />
          </div>
          <div class="col-md-5 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <h3>Government of Greenland</h3>
            <p>{% trans %}Nereid based web portal and Tryton implementation assisted the government of Greenland in achieve digitisation of over 60 departments in 2 weeks.{% endtrans %}</p>
            <div class="mar_top3"></div>
            <a href="#" class="btn btn-default">{% trans %}READ MORE{% endtrans %}  &gt;</a>
          </div>
        </div>
        <div class="item">
          <div class="col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-2 gna_img_reposition">
            <img src="{{ STATIC }}images/logos/graduit.png" class="img-responsive" alt="bsure" />
          </div>
          <div class="col-md-5 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <h3>Graduit Network</h3>
            <p>{% trans %}Nereid based social network with Tryton as ERP platform aided Graduit to upgrade their existing interface to an innovative design implementing the changes. The web shop created allowed the members of the Graduit network to purchase products and also donate to the cause of the network.{% endtrans %}</p>
            <div class="mar_top3"></div>
            <a href="#" class="btn btn-default">{% trans %}READ MORE{% endtrans %}  &gt;</a>
          </div>
        </div>
        <div class="item">
          <div class="col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-2 gna_img_reposition">
            <img src="{{ STATIC }}images/logos/atax.png" class="img-responsive" alt="bsure" />
          </div>
          <div class="col-md-5 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <h3>AdvocateTax</h3>
            <p>{% trans %}As the aviation law changed, we assisted Advocate Tax in helping their clients and employees to submit information with ease and interact with the data efficiently leading them to advance their position in the market.{% endtrans %}</p>
            <div class="mar_top3"></div>
            <a href="#" class="btn btn-default">{% trans %}READ MORE {% endtrans %} &gt;</a>
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control carousel-color-none" href="#carousel-user" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control carousel-color-none" href="#carousel-user" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="mar_top5 clearfix">
    </div>
  </div>
</section>
<div class="clearfix"></div>
{% endblock main %}
