{% extends 'base.html' %}
{% block title %} {% trans %}Project Management App{% endtrans %} | {{ super() }} {% endblock title %}
{% block main %}
<section class="app-banner">
  <div class="container">
    <ol class="breadcrumb remove-background">
      <li><a class="white-text-color" href="{{ SITE_ROOT }}index.html">{% trans %}Home{% endtrans %}</a></li>
      <li> <a class="white-text-color" href="{{ SITE_ROOT }}app.html">{% trans %}App{% endtrans %}</a></li>
      <li class="white-text-color">{% trans %}Project Management App{% endtrans %}</li>
    </ol>
    <div class="text-center section-space">
      <h1 class="white-text-color"><strong>{% trans %}PROJECT MANAGEMENT{% endtrans %}</strong>
      </h1>
      <div class="col-sm-12 col-xs-12" >
        <div class="col-sm-2 col-xs-4 col-xs-offset-4 col-sm-offset-5 app-banner-divider">
        </div>
      </div>
      <div>
        <p class="white-text-color">{% trans %}Tryton’s project management solution enables team members to collaborate on projects and maintain accurate project status at all times, allowing admins to proactively identify and resolve potential issues with each task or ticket being created.{% endtrans %}
        </p>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section class="section-space">
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center">
          <img src="{{ STATIC }}images/app/project/projects-01.png" height="200" alt="ecommerce" class="content-center-xs">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2>{% trans %}Keep Track of all Time Spent{% endtrans %}</h2>
          <p>{% trans %}Timesheet feature of Tryton project management app help managers to track the time spent by each user on a specific project and thus making the complete process efficient during invoicing and billing.{% endtrans %}
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="divider-line"></div>
  <section class="section-space">
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-push-6 text-center">
          <img src="{{ STATIC }}images/app/project/projects-02.png" height="200" alt="ecommerce" class="content-center-xs">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6">
          <h2>{% trans %}Easy task management{% endtrans %}</h2>
          <p>{% trans %}Tasks relevant to each project help you easily keep track of every job on a project, quickly telling you the who’s responsible, when it was due and why isn’t its completed!{% endtrans %}
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="divider-line"></div>
  <section class="section-space">
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center">
          <img src="{{ STATIC }}images/app/project/projects-03.png" height="200" alt="fast" class=" content-center-xs">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2>{% trans %}KanBan and Calendar view{% endtrans %}</h2>
          <p>{% trans %}Work on tasks and issues using the kanban view and control deadlines in the calendar view. Drag and drop the tasks to respective stages as to notify the deadline{% endtrans %}.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="divider-line"></div>
  <section class="section-space">
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-push-6 text-center">
          <img src="{{ STATIC }}images/app/project/projects-04.png" height="200" alt="custom" class="content-center-xs">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6">
          <h2>{% trans %}Tags{% endtrans %}</h2>
          <p>{% trans %}Get organized as fast as you can think. Each task can be labeled with tags that make the complete process even more simpler. Easy categorization, great search capabilities makes the Tryton project management module a beast.{% endtrans %}
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="divider-line"></div>
  <section class="section-space">
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 text-center">
          <img src="{{ STATIC }}images/app/purchase/purchase-04.png" height="200" alt="fast" class=" content-center-xs">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2>{% trans %}Smooth Workflow{% endtrans %}</h2>
          <p>{% trans %}From the inception of the project to its delivery, Tryton’s project management app is there to assist you at every step. You can record goals and milestones and map them against actual performance.{% endtrans %}
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="divider-line"></div>
</div>
{% endblock main %}
