/* Navbar css starts */
body { 
  padding-top: 70px;
  color: #1D1D1D;
}

a:hover {
  text-decoration: none;
}

.logo {
  display: block;
  max-width: 168px;
  height: 31px;
  margin-top: 18px;
  background: url(../images/logo.png) no-repeat;
  min-width: 113px;
}

.tryton-conf-banner {
  background:linear-gradient(to top, rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, 0)), 
  url(../images/banner/tryton-conf.jpg) no-repeat;
}

.banner {
  background-size: cover;
  background-position: center;
  min-height: 600px;
}
.business-banner {
  background:linear-gradient(to top, rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, 0)), 
  url(../images/banner/complete-business.jpg) no-repeat;
  
}

.all-in-one-banner {
  background:linear-gradient(to top, rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, 0)),
  url(../images/banner/all-in-one.jpg) no-repeat;
}

.nav-resize {
  height: 70px;
  margin-bottom: 0;
  opacity: 0.98;
}

.navbar-nav > li > a {
  line-height: 40px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #3d3d48;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-right .dropdown-position {
  top: 69px;
  right:0;
  left:0;
}

.navbar-right li ul li a {
  font-weight: normal;
  margin: 0;
  border: none;
  display: block;
  padding: 4px 9px 9px 17px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #454545;
  background: #fff;
  text-align: left;
  border-bottom: 1px solid #f6f6f6;
}

/* Navbar css ends */

/* basic_info css starts */

.section-space {
  padding: 75px 0;
  
}

.section-space p {
  margin-top: 10px;
  line-height: 22px;
}
/* basicinfo css ends */


/* characteristics css starts */

.characteristics-heading {
  color: #1ac6ff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.rounded-icon {
  width: 56px;
  height: 56px;
  background-color: #1ac6ff;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 56px;
  border-radius: 100%;
  margin-right: 20px;
  font-size: 29px;
}

.tab-heading {
  display: inline-block;
}

.rounded-icon i {
  top: 3px;
  position: relative;
  font-size: 33px;
}

.border-left-right {
  border-left: 1px solid #ddd;
  border-right:1px solid #ddd;
}


.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

/* characteristics css ends */

/* app css starts */

.app img {
  margin: auto;
  width: 100%;
}

.map-container {
  height:256px;
 }
/* app section css ends */

/* history section css start */

.history {
  background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/tryton-community.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.job-info { 
background:linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/tryton-community.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.nav-pills > li.active > .selection-tab, 
.nav-pills > li.active > .selection-tab:hover, 
.nav-pills > li.active> .selection-tab:focus {
  background-color: white;
  color:black;
}

/* history section css ends */
/* users section css starts */


.know-more {
  background: #1ac6ff ;
  width: 100%;
  padding: 20px 0;
}

.know-more button {
  margin-top: 32px;
}

.line-img {
  background:url(../images/h-line.png) no-repeat left top;
  width: 6%;
  margin-right: 16px;
  min-height: 119px; 
}

.footer {
  width: 100%;
  background-color: #3d3d48;
  color: #999;
}

.footer .contact-address {
  margin: 10px 0 0 0;
  width: 100%;
}

.footer .link-list li {
  line-height: 30px;
}

.footer-set-height {
  min-height: 316px;
}

.footer li a:hover {
  color:#fff;
}

.text-red {
  color: #e74c3c;
}

.content-licensed {
  padding: 18px 0 18px 0;
  margin: 0;
  color: #999;
  background-color: #fff;
}

.white-text-color {
  color:#fff;
}

.carousel-control.carousel-color-none {
  background-image: none;
}

/* app.html css starts */

.app-banner {
  min-height: 580px;
  background:url(../images/app/temp-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  padding: 45px 0;
}

.banner-heading {
  font-size:40px;
}

.app-banner-divider {
  border-top: 2px solid #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.app-banner p {
  font-size: 20px;
  line-height: 25px;
}

.app-detail h4 {
  color:#2283bc;
  font-size: 22px;
}

.remove-background {
  background-color:transparent; 
}

.app:hover h4 {
  color:#0a70e3;
}

/*app css end */

/*blog css starts */

.blog-heading {
  background-color:#3398d4; 
  padding: 28px 0px;
}

.width-100 {
  width: 100%;
}

.img-frame {
  border:7px solid #fff;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}


.blog-date {
  background-color:#FFFFFF; 
  margin-right: 15px;
}

.blog-month {
  background-color:#2C9AB7; 
  color:#fff;
  font-size:12px;
  font-weight:bold; 
  padding:6px; 
  text-align:center;
}

.blog-time {
  color:#2C9AB7;
  font-size:28px;
  font-weight:bold; 
  line-height:100%; 
  padding-top:6px; 
  padding-bottom:6px; 
  text-align:center;
  background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
  background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
  background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
}

.post-by {
  background:url(../images/article/icon-by-user.png) no-repeat 0 5px;
  padding: 0 0 0 18px;
}

.post-event {
  background:url(../images/article/icon-category.png) no-repeat 9px 5px;
  padding: 0 0 0 26px;
}

#search-submit {
  background:#0a70e3 url(../images/article/site-search-icon.png) no-repeat center;
  height: 34px;
  width: 39px;
  border:none;
}

.input-radius {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* foundation.html css starts */

.divider-line {
 border-bottom: 1px solid #ddd;
}

.img-height {
  height: 200px;
}

.line-height {
  line-height: 35px;
}

.tryton-companies {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  padding: 15px;
  height: 453px;
}

.tryton-companies:hover {
  box-shadow: 0 0 10px #0066CC;
}

.divider-blue {
  border-bottom: 2px solid #2283bc;
}

.partner-desc {
  margin-bottom: 20px;
}

.nano { 
  height: 123px; 
}
.nano .nano-content { 
  padding: 10px; 
}
.nano .nano-pane   { 
  background: #888;
}
.nano .nano-slider { 
  background: #111;
}

.tryton-companies .content {
  height: 50%;
}  

.tryton-companies .address {
  height: 39%;
}    
