<!DOCTYPE html>

{% set STATIC = '/static/' %}
<html lang="en-us">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Tryton - World's Most Stable OpenSource ERP System{% endblock title %}</title>

  <!-- Package CSS -->  
  <link href="{{ STATIC }}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ STATIC }}bower_components/font-awesome/css/font-awesome.min.css">

  <!-- Custom CSS -->
  <link href="{{ STATIC }}css/style.css" rel="stylesheet">
  <link href="{{ STATIC }}css/responsive-layouts.css" rel="stylesheet">
</head>
<body>
  <!-- main navigation -->
  {% block nav_bar %}
  <div class="navbar navbar-default navbar-fixed-top navResize" role="navigation">
    <div class="padding-auto-0 container-fluid">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbarHeaderReset">
          <button type="button" class="navbar-toggle collapsed nav-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="index.html"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="main-menu"><a href="#" class="active">Home</a></li>
            <li class="main-menu"><a href="#">About</a></li>
            <li class="main-menu"><a href="#">Features</a>
              <ul class="hidden">
                <li><a href="features.html">Fast</a>
                </li>
                <li><a href="features.html">OpenSource</a>
                </li>
                <li><a href="features.html">API</a>
                </li>
                <li><a href="features.html">Customizable</a>
                </li>
                <li><a href="features.html">Scalable</a>
                </li>
                <li><a href="features.html">Secure</a>
                </li>
                <li><a href="features.html">Modular</a>
                </li>
                <li><a href="features.html">Stable</a>
                </li>
              </ul>
            </li>
            <li class="main-menu" ><a href="#">Apps</a>
              <ul class="hidden">
                <li><a href="ecommerce.html">eCommerce</a>
                </li>
                <li><a href="accounts.html">Accounts</a>
                </li>
                <li><a href="contacts.html">Contacts</a>
                </li>
                <li><a href="inventory.html">Inventory</a>
                </li>
                <li><a href="crm.html">CRM</a>
                </li>
                <li><a href="purchase.html">Purchase</a>
                </li>
                <li><a href="orders.html">Orders</a>
                </li>
                <li><a href="projects.html">Projects</a>
                </li>
              </ul>
            </li>
            <li class="main-menu"><a href="#">Blog</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </div>
  {% endblock %}

  <!-- main content -->
  {% block main %}{% endblock main %}

  <!-- footer -->
  {% block footer %}
  <div class="footer pull-left">
    <div class="mar_top7"></div>
    <div class="container">
      <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs footer-set-height">
        <img src="{{ STATIC }}images/footer-logo.png" alt="trytonLogo" />
        <ul class="contact_address pull-left">
          <li class="none-list-type">Tryton.us is an initiative of Openlabs Technologies to aware people about Tryton ERP and its implementation.<br><br>It is a private initiative not intended to replace, or communicate on behalf of the whole Tryton community. </li>
          <li class="none-list-type">Tryton is a registered trademark of the Tryton Foundation.</li>
          <li class="none-list-type"><img src="{{ STATIC }}images/footer-wmap.png" alt=""></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-4 col-xs-offset-4 footer-set-height">
        <h3 class="footer_headings">Useful Links</h3>
        <ul class="link_list">
          <li class="none-list-type"><a href="index.html"><i class="fa fa-angle-right"></i> Home</a></li>
          <li class="none-list-type"><a href="events.html"><i class="fa fa-angle-right"></i> Features</a></li>
          <li class="none-list-type"><a href="community.html"><i class="fa fa-angle-right"></i> Apps</a></li>
          <li class="none-list-type"><a href="foundation.html"><i class="fa fa-angle-right"></i> Foundation</a></li>
          <li class="none-list-type"><a href="download.html"><i class="fa fa-angle-right"></i> Blog</a></li>
          <li class="none-list-type"><a href="documentation.html"><i class="fa fa-angle-right"></i> Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs footer-set-height">
       <h3 class="footer_headings">Latest Tweets</h3>

       <div class="twitter_feed">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/tryton" data-widget-id="499079587393839106">#tryton Tweets</a>
        <script>
        ! function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
          p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, "script", "twitter-wjs");
        </script>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs footer-set-height">
      <h3 class="footer_headings">Join Community</h3>
      <ul class="community_address">
        <li class="none-list-type">
          <a href="https://groups.google.com/forum/#!forum/tryton" class="white-text-color"><i class="fa fa-google-plus"></i>&nbsp;&nbsp;GOOGLE GROUP</a>
        </li>
        <li class="none-list-type">
          <a href="https://github.com/tryton/tryton" class="white-text-color"><i class="fa fa-github"></i>&nbsp;&nbsp;GET THE CODE</a>
        </li>
      </ul>
      <br>
      <br>
      <p class="white-text-color">Tryton Fondation Privée <br>
        Rue de Rotterdam, 4 <br>
        4000 Liège <br>
        Belgium <br><br>
        <a href="mailto:foundation@tryton.org" target="_blank" class="white-text-color"><i class="fa fa-envelope"></i>&nbsp;&nbsp;foundation@tryton.org</a></p>
      </div>
      <div class="clearfix mar_top6"></div>
    </div>
    <div class="copyright_info">
      <div class="clearfix mar_top6"></div>
      <div class="container">
        <div class="col-md-12 text-center">
          <p class="white-text-color">Made with <i class="fa fa-heart text-red"></i> by <strong><a href="https://www.openlabs.co.in" class="white-text-color">Team OPENLABS</a></strong></p>
        </div>
        <div class="clearfix mar_top3 pull-left"></div>
      </div>
    </div>
    <div class="content_licensed col-md-12 col-sm-12 col-xs-12">
     <div class="container">
      <b>Content Licensed as Creative Commons</b>
    </div>
  </div>
</div>

{% endblock footer %}

{% block script_tags %}
<script src="{{ STATIC }}bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ STATIC }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ STATIC }}js/selectnav.js"></script>

{% endblock script_tags %}
</body>
</html>